<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.relentlezz.mentalmaths.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".EndResultActivity"
            android:label="@string/title_activity_end_result"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".HighScoreActivity"
            android:label="@string/title_activity_high_score"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartScreenActivity"
            android:label="@string/title_activity_start_screen"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        </activity>
    </application>

</manifest>
